<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Literaturverwaltung </title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>

<div class="container">

    <h3>Einfügen einer Publikation </h3>
    <hr/>

    <form th:action="@{/insertpublication}" th:object="${publication}" method="POST">
        <div class="form-group">
        <input type="text" th:field="*{title}" class="form-control" placeholder="Titel eingeben" />
        </div>

        <div class="form-group">
        <input type="date" th:field="*{publishing_date}" class="form-control" placeholder="Veröffentlichungsdatum eingeben" />
        </div>

        <div class="form-group">
        <input type="text" th:field="*{authors}" class="form-control" placeholder="Autoren eingeben" />
        </div>

        <div class="form-check">
        <input type="checkbox" th:field="*{alreadyRead}" class="form-check-input" id ="already_read" placeholder="Bereits gelesen?" /> <label for="already_read"> Bereits gelesen? </label>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <!--  <input type="hidden" th:field="*{id}" /> -->

    </form>
    <hr/>
    <a th:href="@{/api/v1/publications/list}">Zurück zur Übersicht </a>
</div>

</body>
</html>
