<!DOCTYPE html>
<html xlms="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Publications</title>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>
<div class="container">
    <h3>Liste der gespeicherten Publikationen</h3>
    <hr/>

    <a th:href="@{/api/v1/showupdateform}" class="btn btn-primary"> Füge Publikation hinzu</a>
    <br/> <br/>

    <table class="table table-bordered table-striped" id = "employee-table">
        <thead>
        <tr>
            <th> Titel</th>
            <th> Veröffentlichungsdatum </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="publication: ${publications}">
            <td th:text="${publication.title}" />
            <td th:text="${publication.getDateAsString()}" />
            <td>
                    <a th:href="@{/api/v1/deletepublication(title=${publication.title})}" class="btn btn-danger ml-2"> Lösche Publikation </a>
            </td>

            <td>
                <!-- <a th:href="@{/showUpdateForm(employeeID=${employee.id})}" class = "btn brn-info"> Update </a> -->




        </tr>
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $("#employee-table").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1] /* 1st one, start by the right */
            }]
        });
    })
</script>
</body>
</html>